body {
    background: linear-gradient(90deg, rgba(253,184,19,1) 0%, rgba(253,184,19,0.7) 50%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,1) 100%);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    overflow-y: hidden;
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.join {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join input[type="text"], .join button[type="submit"] {
    display: block;
    margin: 0;
}

.create-btn {
    display: block;
    width: 100%;
}

.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: lighter;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: black;
}

.start {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color: aqua;
}

button {
    background-color: black;
    border: none;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(253, 184, 19, 0.7);
    transition: box-shadow 0.5s ease-in-out;
    animation: glow 2s ease-in-out infinite;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 0 0 rgba(137, 207, 240)
    }
    50% {
      box-shadow: 0 0 20px 10px rgba(137, 207, 240)
    }
    100% {
      box-shadow: 0 0 0 0 rgba(137, 207, 240)
    }
  }
  
  button:hover {
    box-shadow: 0 0 20px 10px rgba(253, 184, 19, 0.7);
  }
  

.send {
    background-color: black;
    border-radius: 0px;
    height: 30px;
}
  
h3 {
    font-size: 72px;
    text-align: center;
    color: #000;
    text-shadow: 2px 2px 0px #ff8c00, 4px 4px 0px #ff8c00, 6px 6px 0px #ff8c00, 8px 8px 0px #ff8c00, 10px 10px 0px #ff8c00, 12px 12px 0px #ff8c00, 14px 14px 0px #ff8c00;
  }

.ask {
    padding: 12px 16px;
    font-size: 18px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.intro {
    padding: 12px 16px;
    font-size: 18px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}